In [80]:
import numpy as np
import pandas as pd
df = pd.read_csv('vgsales.csv')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

Which 5 games have the highest global sales? What do they have in common?

In [81]:
df.sort_values(by='Global_Sales',ascending=[False]).head(5)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

Calculate total sales by genre. Which genre generates the most revenue globally?

In [82]:
df.groupby('Genre')['Global_Sales'].sum().sort_values(ascending=[False])

Genre
Action          1751.18
Sports          1330.93
Shooter         1037.37
Role-Playing     927.37
Platform         831.37
Misc             809.96
Racing           732.04
Fighting         448.91
Simulation       392.20
Puzzle           244.95
Adventure        239.04
Strategy         175.12
Name: Global_Sales, dtype: float64

Find the average sales per game for each platform. Which platforms have the highest average?

In [ ]:
df[df['Platform']=='GEN']

In [84]:
df.groupby('Platform').agg(Global_Sales_sum=('Global_Sales','sum'),Global_Sales_mean=('Global_Sales','mean')).sort_values(by='Global_Sales_mean',ascending=[False])

          Global_Sales_sum  Global_Sales_mean
Platform
GB                  255.45           2.606633
NES                 251.07           2.561939
GEN                  28.36           1.050370
SNES                200.05           0.837029
PS4                 278.10           0.827679
X360                979.96           0.774672
2600                 97.08           0.729925
PS3                 957.84           0.720722
Wii                 926.71           0.699404
N64                 218.88           0.686144
XOne                141.06           0.662254
PS                  730.66           0.610920
PS2                1255.64           0.581046
WiiU                 81.86           0.572448
3DS                 247.46           0.486169
GBA                 318.50           0.387470
DS                  822.49           0.380254
GC                  199.36           0.358561
XB                  258.26           0.313422
SCD                   1.87           0.311667
DC                   15.97           0.307115
PC                  258.82           0.269604
PSP                 296.28           0.244254
WS                    1.42           0.236667
SAT                  33.59           0.194162
PSV                  61.93           0.149952
NG                    1.44           0.120000
TG16                  0.16           0.080000
GG                    0.04           0.040000
3DO                   0.10           0.033333
PCFX                  0.03           0.030000

Which publisher has released the most games? Do they also have the highest total sales?

In [85]:
df.groupby('Publisher').agg(Name_count=('Name','nunique'),Sales=('Global_Sales','sum')).sort_values(by='Name_count',ascending=[False])

                              Name_count    Sales
Publisher
Namco Bandai Games                   776   254.09
Nintendo                             667  1786.56
Konami Digital Entertainment         640   283.64
Sony Computer Entertainment          622   607.50
Electronic Arts                      606  1110.32
...                                  ...      ...
New World Computing                    1     0.01
Nexon                                  1     0.03
Nichibutsu                             1     0.28
Nippon Amuse                           1     0.09
Giza10                                 1     0.02

[578 rows x 2 columns]

In [86]:
df.groupby('Publisher').agg(Name_count=('Name','nunique'),Sales=('Global_Sales','sum')).sort_values(by='Sales',ascending=[False])

                             Name_count    Sales
Publisher
Nintendo                            667  1786.56
Electronic Arts                     606  1110.32
Activision                          417   727.46
Sony Computer Entertainment         622   607.50
Ubisoft                             572   474.72
...                                 ...      ...
Interworks Unlimited, Inc.            1     0.01
Inti Creates                          1     0.01
Stainless Games                       1     0.01
Interchannel-Holon                    1     0.01
New World Computing                   1     0.01

[578 rows x 2 columns]

For games released after 2010, which genre dominated each region (NA, EU, JP)?

In [89]:
df1=df[df['Year']>2010]
df1.groupby('Genre').agg(NA_Sales_sum=('NA_Sales','sum'),
                         EU_Sales_sum=('EU_Sales','sum'),
                         JP_Sales_sum=('JP_Sales','sum'),
                         Other_Sales_sum=('Other_Sales','sum'),
                         Global_Sales_sum=('Global_Sales','sum')
                         ).sort_values(by='Global_Sales_sum',ascending=[False])

,NA_Sales_sum,EU_Sales_sum,JP_Sales_sum,Other_Sales_sum,Global_Sales_sum
Genre,,,,,
Action,227.46,200.52,62.15,65.56,555.86
Shooter,184.53,142.54,11.42,46.71,385.39
Role-Playing,79.02,60.06,76.77,19.24,235.20
Sports,105.88,86.60,10.92,28.86,232.27
Misc,70.29,40.88,17.25,12.78,141.19
Platform,38.31,30.14,12.07,8.25,88.79
Racing,31.36,41.00,5.61,10.75,88.76
Fighting,31.49,16.65,12.24,6.81,67.19
Simulation,15.46,18.43,11.54,3.78,49.18
Adventure,14.34,13.85,11.84,4.39,44.48
Strategy,7.53,7.89,4.58,1.99,22.03
Puzzle,2.84,3.58,2.91,0.71,10.06

Calculate the percentage of global sales that each region contributes. Which region is most important?

In [91]:
NA_Sales_sum = df['NA_Sales'].sum()
EU_Sales_sum = df['EU_Sales'].sum()
JP_Sales_sum = df['JP_Sales'].sum()
Other_Sales_sum = df['Other_Sales'].sum()
Global_Sales_sum = df['Global_Sales'].sum() 
print(f"NA_Sales_sum: {(NA_Sales_sum/Global_Sales_sum):.2f},EU_Sales_sum: {(EU_Sales_sum/Global_Sales_sum):.2f},JP_Sales_sum: {(JP_Sales_sum/Global_Sales_sum):.2f},Other_Sales_sum: {(Other_Sales_sum/Global_Sales_sum):.2f}")

NA_Sales_sum: 0.49,EU_Sales_sum: 0.27,JP_Sales_sum: 0.14,Other_Sales_sum: 0.09

Find games where Japanese sales exceed North American sales. What patterns do you notice about genre or
publisher?

In [92]:
df1=df[df['JP_Sales']>df['NA_Sales']]
df1.groupby('Genre').agg(JP_Sales_sum=('JP_Sales','sum'),
                         Count=('Name','nunique')
                         ).sort_values(by='JP_Sales_sum',ascending=[False])

              JP_Sales_sum  Count
Genre
Role-Playing        260.11    690
Sports              108.08    360
Action               96.81    605
Misc                 80.81    433
Fighting             58.72    273
Simulation           51.99    194
Strategy             44.06    216
Adventure            41.27    616
Platform             40.45     93
Puzzle               38.97     90
Racing               19.52     75
Shooter              16.93    103

In [93]:
df1.groupby('Publisher').agg(JP_Sales_sum=('JP_Sales','sum'),
                             Count=('Name','nunique')
                             ).sort_values(by='JP_Sales_sum',ascending=[False])

                              JP_Sales_sum  Count
Publisher
Nintendo                            178.19    276
Namco Bandai Games                  116.01    580
Konami Digital Entertainment         79.82    334
Sega                                 48.98    254
Capcom                               48.09    126
...                                    ...    ...
Kalypso Media                         0.01      1
Commseed                              0.01      1
Michaelsoft                           0.01      1
Moss                                  0.01      1
Naxat Soft                            0.01      1

[270 rows x 2 columns]